---
// Component Imports
import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
		<script src="/htmx.js" is:inline></script>
	</head>

	<body>
	<div class="container mx-auto">
		<div class="flex flex-col justify-items-center items-center my-10">
			<div>
				<form hx-post="/prompt" hx-target="#result">
					<label htmlFor="prompt"> Give information about :
						<input id="prompt" type="text" name="prompt" class="py-2 px-4 rounded-lg" placeholder="prompt" value=""/>
					</label>
					<Button type="submit">I'm Ready</Button>
				</form>
			</div>

			<div class="text-sm max-w-prose my-10 p-5 border-2 border-gray-400 rounded-2xl mt-5">
				<div id="result"></div>
			</div>
		</div>
	</div>
	</body>
</html>
